div.h1resize {
  background-color: lightgrey;
  padding: 20px;
}

@media screen and (min-width: 601px) {
  div.h1resize {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.h1resize {
    font-size: 30px;
  }
}